@import '../../mixins/themify.scss';

.devices>*+* {
  margin-top: 35px;
}

$height-input: 30px;

.device {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;

  cursor: pointer;
  position: relative;
  font-size: $height-input;

  @include themify($themes) {
    background: themed('backgroundElement');
    box-shadow: themed('shadowAccent');
  }
}

.device__name {
  margin-left: 3px;

  @include themify($themes) {
    color: themed('textColor');
  }
}

.device__send {
  height: $height-input;
  aspect-ratio: 1;

  @include themify($themes) {
    color: themed('textColor');
  }
}

.device+.device {
  margin-top: 15px;
}