.custom-url {
  display: flex;
  flex-direction: column;
  position: relative;
}

$height : 50px;

.custom-url__input {
  width: 100%;
  border: 0;
  background: #fff;
  border-radius: 10px;
  height: $height;
  outline: none;
  font-size: 17px;
  padding: 0 20px;
  padding-right: $height;
  box-shadow: 0 10px 30px #ccd6e56b;
}

.custom-url__input:focus,
.custom-url__input:hover {
  box-shadow: 0 0 0 2px #7381a9;
}

.custom-url__submit-button {
  position: absolute;
  top: 0;
  right: 0;
  height: $height;
  width: $height;
  border: 0;
  background: no-repeat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2a3a62;
}

.custom-url__submit-button>svg {
  width: 15px;
  height: 15px;
  // color: ; можно цвет стрелке задать 
}

.custom-url__paste-button {
  padding: 10px;
  align-self: flex-end;
  margin-top: 15px;
  margin-right: 15px;
  background-color: transparent;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 5px 20px #9fa7b325;


  &:hover {
    box-shadow: 0 5px 20px #00000025;
    cursor: pointer;
  }
}