@import '../../mixins/themify.scss';

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  min-width: 320px;
  @include themify($themes) {
    background-color: themed('backgroundColor');  
  }
  // display: flex;
  // flex-direction: column;
}