@import '../../mixins/themify.scss';
@import '../../mixins/responsive.scss';

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

#root {
  height: 100vh;
  width: 100vw;

  @include themify($themes) {
    background-color: themed('backgroundColor');
  }

  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 80px auto 0;
  width: 100%;
  max-width: 1000px;
  padding: 20px;

  @include responsive("mobile") {
    min-width: 320px;
  }

  @include responsive("desktop") {
    padding: 30px;
  }
}