@import '../../mixins/responsive.scss';
@import '../../mixins/themify.scss';

.head {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 15px;

  @include responsive("mobile") {
    gap: 5px; 
  }
}

.head__theme-toggler {
  position: absolute;
  top: 0;
  left: 0;
}

.head__image {
  position: relative;
  height: 100px;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/favicon/favicon-196x196.png');

  @include responsive("mobile") {
    height: 60px;
  }

  @include themify($themes) {
    opacity: themed('logoOpacity');
  }
}

.head__title {
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  
  @include responsive("mobile") {
    font-size: 40px;
  }

  @include themify($themes) {
    color: themed('textColor');
    opacity: themed('logoOpacity');

  }
}