$backgroundColorLight: #F9F9FB;
$backgroundColorDark: #2b2a33;
$themes: (
  light: (
    backgroundColor: $backgroundColorLight,
    backgroundPopupColor: rgba($backgroundColorLight, 0.7),
    textColor: black,
    backgroundElement: #fff,
    elementActiveColor: #fbcf7ab0,
    shadowAccent: 0 1px 30px #E9E9EB,
    logoOpacity: 1,
  ),
  dark: (
    backgroundColor: $backgroundColorDark,
    backgroundPopupColor: rgba($backgroundColorDark, 0.7),
    textColor: wheat,
    backgroundElement: rgba(0, 0, 0, 0.284),
    elementActiveColor: #c1ae885d,
    shadowAccent: none,
    logoOpacity: 0.9,
  ),
);


@mixin themify($themes) {

  @each $theme,
  $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map,
          ($key: $value,
          )) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}